/* Estilos padrão para telas maiores */
body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

/* Adaptação para telas maiores */
.main_container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

/* Adaptação para telas maiores */
.header_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;
}

/* Adaptação para telas maiores */
.header_navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Adaptação para telas maiores */
.header_navigation .navigation .arrow_left {
    margin-right: 1.25rem;
}

/* Adaptação para telas maiores */
.arrow_left,
.arrow_right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

/* Adaptação para telas maiores */
.header_login {
    display: flex;
    align-items: center;
}

/* Adaptação para telas maiores */
.header_search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
    justify-content: left;
}

/* Adaptação para telas maiores */
.header_search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

/* Adaptação para telas maiores */
.header_search input {
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

/* Adaptação para telas maiores */
.header_login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
}

/* Adaptação para telas maiores */
.header_login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
}

/* Estilos padrão para telas maiores */
.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
}

/* Adaptação para telas maiores */
.playlist {
    margin: 24px;
}

/* Adaptação para telas maiores */
.playlist #greeting {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* Adaptação para telas maiores */
.playlist .session {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* Adaptação para telas maiores */
.offer__scroll-container {
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

/* Adaptação para telas maiores */
.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
}

/* Adaptação para telas maiores */
.offer__scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Adaptação para telas maiores */
.offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 0 auto;
}

/* Adaptação para telas maiores */
.cards {
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

/* Adaptação para telas maiores */
.cards span {
    padding: 16px;
    position: absolute;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

/* Adaptação para telas maiores */
.card1 {
    background-color: rgb(0, 100, 80);
}

/* Adaptação para telas maiores */
.artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
}

/* Adaptação para telas maiores */
.hidden {
    display: none;
}

/* Adaptação para telas maiores */
.grid-container {
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    min-width: 767px;
}

/* Adaptação para telas maiores */
.artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}

/* Adaptação para telas maiores */
.artist-card:hover {
    background-color: #252525;
}

/* Adaptação para telas maiores */
.play {
    position: relative;
}

/* Adaptação para telas maiores */
.play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #cee2d5;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

/* Adaptação para telas maiores */
.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
}

/* Adaptação para telas maiores */
.play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
}

/* Adaptação para telas maiores */
#result-artist {
    padding: 20px 40px;
}

/* Estilos padrão para telas menores */
@media only screen and (max-width: 767px) {
    /* Adaptação para telas menores */
    .main_container {
        max-width: 100vw;
        margin-left: 16px;
        margin-right: 16px;
    }

    /* Adaptação para telas menores */
    .header_navigation {
        padding: 8px;
        margin: 5px;
    }

    /* Adaptação para telas menores */
    .header_search {
        width: 100%;
        margin-left: 0;
    }

    /* Adaptação para telas menores */
    .header_search input {
        padding: 0 60px 0 12px;
    }

    /* Adaptação para telas menores */
    .playlist-container {
        height: auto;
        padding-top: 16px;
        margin: 10px;
    }

    /* Adaptação para telas menores */
    .playlist #greeting {
        font-size: 24px;
        margin-bottom: 24px;
    }

    /* Adaptação para telas menores */
    .playlist .session {
        font-size: 20px;
    }

    /* Adaptação para telas menores */
    .offer__scroll-container {
        max-height: 50vh;
    }

    /* Adaptação para telas menores */
    .cards {
        width: 100%;
    }

    /* Adaptação para telas menores */
    .grid-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        min-width: 100%;
    }

    /* Adaptação para telas menores */
    .artist-card {
        padding: 12px;
    }

    /* Adaptação para telas menores */
    .play .fa-play {
        padding: 14px;
        top: 80px;
    }

    /* Adaptação para telas menores */
    #result-artist {
        padding: 16px 32px;
    }
}
